[Unit]
Description=SARAB Bot - A Discord bot
After=network.target

[Service]
User=USERNAME

# Replace with the absolute path to your project's root directory
WorkingDirectory=/home/USERNAME/scripts/discord_bots/sarab_bot/

# Command to execute
ExecStart=/home/USERNAME/scripts/discord_bots/sarab_bot/run.sh

# Restart policy
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
